<h1>Products (<%= @products.length %>)</h1>
<%= link_to "New Picture", "/pictures/new" %>

<% @products.each do |product| %>
  <p><%= product.name %>, <%= product.price_in_cents %></p>
  <%= link_to image_tag(product.url), "/product/#{product.id}" %>
<% end %>
